.cart .ant-steps-vertical>.ant-steps-item:not(:last-child)>.ant-steps-item-container>.ant-steps-item-tail {
    transform: rotate(90deg) scaleX(-1);
    top: -30px;
    left: 44px;
}

.cart .ant-card .ant-card-body {
    padding: 10px;
    border-radius: 0 0 8px 8px;
}

.cart .ant-divider-horizontal {
    display: flex;
    clear: both;
    width: 100%;
    min-width: 100%;
    margin: 12px 0;
}


.cart .custom-otp-input {
    font-size: 19px;
    font-weight: 400;
    width: 38px;
    height: 40px;
    padding:0;
  }
  
  .cart .custom-otp-input:focus {
    border-color: #4096ff;
    
  }
  
  .cart.ant-input-outlined:focus{
    border-color: #4096ff;
   
  }